#copyright{
    position: absolute;
    bottom: 3%;
    margin-left: 1%;
    color: gray;
    font-family: sans-serif;
    cursor: default;
}

.redes{
    position: absolute;
    bottom: 3%;
    display: flex;
    gap: 40%;
    right: 2%;
}

.red{
    color: #108740;
}